@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    display: block;
}

.navbar {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-self: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 34px;
    border-radius: 5px;
    background: transparent;
    font-size: 13px;
    position: relative;
}

.btn:hover {
    transition: 1s;
    border: 1px solid #f44336;
    background: #f44336;
}

.card {
    border-radius: 10px;
    background: #fff3f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav .fa {
    display: none;
}


/* Course */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.campus {
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.layer {
    background: rgba(168, 92, 92, 0.383);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    position: absolute;
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 49%;
    left: 50%;
    transform: translateX(-50%);
}

.layer:hover h3 {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 1s;
}

.layer:hover {
    background: transparent;
}


/* Facilities */

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin: 16px 0;
    text-align: left;
}

.facilities-col img:hover {
    transform: scale(1.15);
    transition: 1s;
}


/* .facilities-col.out {
    animation-name: ease;
    animation-duration: 2s;
}

.facilities-col.over {
    animation-name: ease;
    animation-duration: 1s;
} */


/* Testimonials */

.testimonials {
    width: 80%;
    margin: auto;
    padding: 100px 0 0 0;
    text-align: center;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 5%;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 60px;
    width: 80px;
    margin-right: 30px;
    margin-left: 5px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fas,
.fa,
.far {
    position: relative;
    top: -15px;
    color: #f44336;
    font-size: 10px;
}

.testimonial-col:hover {
    background: #fff;
}


/* Call to action */

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    border-radius: 10px;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}


/* Footer */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.footer .far {
    position: relative;
    top: .2px;
}


/* Media Queries */

@media(max-width: 768px) {
    .text-box h1 {
        font-size: 18px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        /* position: relative; */
        display: block;
        color: #fff;
        cursor: pointer;
        margin: 10px;
        font-size: 22px;
        flex-wrap: wrap;
    }
    nav .fa-bars {
        position: absolute;
        top: 3px;
        right: 2vw;
    }
    .nav-links ul {
        padding: 30px;
    }
    .layer {
        background: transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.5s;
    }
    .layer:hover {
        background: rgba(168, 92, 92, 0.383);
    }
    .layer h3 {
        position: absolute;
        width: 100%;
        font-weight: 500;
        color: #fff;
        font-size: 20px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .layer:hover h3 {
        bottom: 49%;
        opacity: 1;
        transition: ease-in-out 1s;
    }
    .testimonial-col img {
        height: 40px;
        width: 60px;
        margin-right: 15px;
        margin-left: 0px;
        border-radius: 50%;
    }
}


/* Mobile */

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .testimonial-col img {
        height: 40px;
        width: 40px;
        margin-right: 15px;
        margin-left: 0px;
        border-radius: 50%;
    }
    .cta {
        padding: 20px;
    }
    .cta h1 {
        font-size: 20px;
        margin: auto;
    }
    .cta .btn {
        margin: 10px 0 0 0;
        font-size: 8px;
        padding: 8px 15px;
    }
}